<a href="https://colab.research.google.com/github/HalaAl-Omary/Pandas/blob/main/AdvancedPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Advanced Pandas

In [ ]:
import pandas as pd

In [ ]:

df = pd.read_csv('Adv_Pandas.csv')
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7,626+,6
1,PHKD Mendis (SL),2022-2025,14.0,24.0,3.0,1316.0,182*,62.66,2063,63.79,5.0,5.0,-,137,24
2,AC Voges (AUS),2015-2016,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2,186,5
3,AC Voges (AUS),2015-2016,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2,186,5
4,GA Headley (WI),1930-1954,22.0,40.0,4.0,2190.0,270*,60.83,416+,56.00,10.0,5.0,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,GC Smith (ICC/SA),2002-2014,117.0,205.0,13.0,9265.0,277,48.25,15525,59.67,27.0,38.0,11,1165,24
60,WH Ponsford (AUS),1924-1934,29.0,48.0,4.0,2122.0,266,48.22,3118+,44.77,7.0,6.0,1,119+,0
61,SJ McCabe (AUS),1930-1938,39.0,62.0,5.0,2748.0,232,48.21,3217+,60.02,6.0,13.0,4,241+,5+
62,DR Jardine (ENG),1928-1934,22.0,33.0,6.0,1296.0,127,48.00,2110+,25.59,1.0,10.0,2,53+,0
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#rename multiple columns in a list
df = df.rename(columns={'Mat' : 'matches', 'NO' : 'not_outs', 'HS':'highest_inns_score', 'BF':'balls_faced','SR':'batting_strike_rate'})

In [ ]:
df.head()

,Player,Span,matches,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7,626+,6
1,PHKD Mendis (SL),2022-2025,14.0,24.0,3.0,1316.0,182*,62.66,2063,63.79,5.0,5.0,-,137,24
2,AC Voges (AUS),2015-2016,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2,186,5
3,AC Voges (AUS),2015-2016,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2,186,5
4,GA Headley (WI),1930-1954,22.0,40.0,4.0,2190.0,270*,60.83,416+,56.00,10.0,5.0,2,104+,1

In [ ]:
#check null values
df.isnull().any()

Player                 True
Span                   True
matches                True
Inns                   True
not_outs               True
Runs                   True
highest_inns_score     True
Ave                    True
balls_faced            True
batting_strike_rate    True
100                    True
50                     True
0                      True
4s                     True
6s                     True
dtype: bool

In [ ]:
df[df['balls_faced'].isna()==1]

,Player,Span,matches,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48.0,81.0,5.0,4455.0,207,58.61,NaN,NaN,15.0,19.0,6,258+,2
55,Hon.FS Jackson (ENG),1893-1905,20.0,33.0,4.0,1415.0,144*,48.79,NaN,NaN,5.0,6.0,3,51+,0
56,Hon.FS Jackson (ENG),1893-1905,20.0,33.0,4.0,1415.0,144*,48.79,NaN,NaN,5.0,6.0,3,51+,0
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['balls_faced'] = df['balls_faced'].fillna(0)

In [ ]:
df['batting_strike_rate'] = df['batting_strike_rate'].fillna(0)

In [ ]:
df['highest_inns_score'] = df['highest_inns_score'].fillna(0)

In [ ]:
df[df['Player'] == 'ED Weekes (WI)']

,Player,Span,matches,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48.0,81.0,5.0,4455.0,207,58.61,0,0.0,15.0,19.0,6,258+,2

In [ ]:
#drop duplicates
df.duplicated()

0     False
1     False
2     False
3      True
4     False
      ...
59    False
60    False
61    False
62    False
63    False
Length: 64, dtype: bool

In [ ]:
df[df['Player'].duplicated() == 1]

,Player,Span,matches,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s
3,AC Voges (AUS),2015-2016,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2,186,5
12,GS Sobers (WI),1954-1974,93.0,160.0,21.0,8032.0,365*,57.78,4063+,53.58,26.0,30.0,12,593+,32
14,JB Hobbs (ENG),1908-1930,61.0,102.0,7.0,5410.0,211,56.94,5363+,46.22,15.0,28.0,4,276+,8
56,Hon.FS Jackson (ENG),1893-1905,20.0,33.0,4.0,1415.0,144*,48.79,0,0.00,5.0,6.0,3,51+,0

In [ ]:
df[df['Player'].isin(['AC Voges (AUS)', 'GS Sobers (WI)', 'JB Hobbs (ENG)', 'Hon.FS Jackson (ENG)'])]

,Player,Span,matches,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s
2,AC Voges (AUS),2015-2016,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2,186,5
3,AC Voges (AUS),2015-2016,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2,186,5
10,GS Sobers (WI),1954-1974,93.0,160.0,21.0,8032.0,365*,57.78,4063+,53.58,26.0,30.0,12,593+,32
12,GS Sobers (WI),1954-1974,93.0,160.0,21.0,8032.0,365*,57.78,4063+,53.58,26.0,30.0,12,593+,32
13,JB Hobbs (ENG),1908-1930,61.0,102.0,7.0,5410.0,211,56.94,5363+,46.22,15.0,28.0,4,276+,8
14,JB Hobbs (ENG),1908-1930,61.0,102.0,7.0,5410.0,211,56.94,5363+,46.22,15.0,28.0,4,276+,8
55,Hon.FS Jackson (ENG),1893-1905,20.0,33.0,4.0,1415.0,144*,48.79,0,0.00,5.0,6.0,3,51+,0
56,Hon.FS Jackson (ENG),1893-1905,20.0,33.0,4.0,1415.0,144*,48.79,0,0.00,5.0,6.0,3,51+,0

In [ ]:
df = df.drop_duplicates()
df[df['Player'].isin(['AC Voges (AUS)', 'GS Sobers (WI)', 'JB Hobbs (ENG)', 'Hon.FS Jackson (ENG)'])]

,Player,Span,matches,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s
2,AC Voges (AUS),2015-2016,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2,186,5
10,GS Sobers (WI),1954-1974,93.0,160.0,21.0,8032.0,365*,57.78,4063+,53.58,26.0,30.0,12,593+,32
13,JB Hobbs (ENG),1908-1930,61.0,102.0,7.0,5410.0,211,56.94,5363+,46.22,15.0,28.0,4,276+,8
55,Hon.FS Jackson (ENG),1893-1905,20.0,33.0,4.0,1415.0,144*,48.79,0,0.00,5.0,6.0,3,51+,0

In [ ]:
#split up span into start and end date
df['Span'].str.split(pat='-')

0     [1928, 1948]
1     [2022, 2025]
2     [2015, 2016]
4     [1930, 1954]
5     [1924, 1935]
6     [1931, 1939]
7     [1955, 1968]
8     [1948, 1958]
9     [1927, 1947]
10    [1954, 1974]
11    [2022, 2025]
13    [1908, 1930]
15    [1937, 1955]
16    [2010, 2025]
17    [1995, 2013]
18    [1921, 1929]
19    [2010, 2024]
20    [1968, 1973]
21    [1993, 1995]
22    [1970, 1984]
23    [1935, 1951]
24    [1989, 2013]
25    [1990, 2006]
26    [1976, 1993]
27    [1996, 2012]
28    [1998, 2010]
29    [2000, 2017]
30    [1995, 2012]
31    [1920, 1929]
32    [1992, 2002]
33    [2005, 2013]
34    [1994, 2015]
35    [2012, 2025]
36    [1971, 1987]
37    [1985, 2004]
38    [1994, 2009]
39    [2004, 2018]
40    [1978, 1994]
41    [2022, 2025]
42    [1974, 1991]
43    [2023, 2025]
44    [1937, 1957]
45    [1997, 2014]
46    [1992, 2007]
47    [1948, 1963]
48    [1911, 1928]
49    [2001, 2013]
50    [2019, 2021]
51    [2004, 2015]
52    [1961, 1966]
53    [1929, 1949]
54    [2024, 2025]
55    [1893, 1905]
57    [1948, 1963]
58    [1965, 1981]
59    [2002, 2014]
60    [1924, 1934]
61    [1930, 1938]
62    [1928, 1934]
63             NaN
Name: Span, dtype: object

In [ ]:
df['Span'].str.split(pat='-').str[0]

0     1928
1     2022
2     2015
4     1930
5     1924
6     1931
7     1955
8     1948
9     1927
10    1954
11    2022
13    1908
15    1937
16    2010
17    1995
18    1921
19    2010
20    1968
21    1993
22    1970
23    1935
24    1989
25    1990
26    1976
27    1996
28    1998
29    2000
30    1995
31    1920
32    1992
33    2005
34    1994
35    2012
36    1971
37    1985
38    1994
39    2004
40    1978
41    2022
42    1974
43    2023
44    1937
45    1997
46    1992
47    1948
48    1911
49    2001
50    2019
51    2004
52    1961
53    1929
54    2024
55    1893
57    1948
58    1965
59    2002
60    1924
61    1930
62    1928
63     NaN
Name: Span, dtype: object

In [ ]:
df['Span'].str.split(pat='-').str[1]

0     1948
1     2025
2     2016
4     1954
5     1935
6     1939
7     1968
8     1958
9     1947
10    1974
11    2025
13    1930
15    1955
16    2025
17    2013
18    1929
19    2024
20    1973
21    1995
22    1984
23    1951
24    2013
25    2006
26    1993
27    2012
28    2010
29    2017
30    2012
31    1929
32    2002
33    2013
34    2015
35    2025
36    1987
37    2004
38    2009
39    2018
40    1994
41    2025
42    1991
43    2025
44    1957
45    2014
46    2007
47    1963
48    1928
49    2013
50    2021
51    2015
52    1966
53    1949
54    2025
55    1905
57    1963
58    1981
59    2014
60    1934
61    1938
62    1934
63     NaN
Name: Span, dtype: object

In [ ]:
df['Rookie_Year'] = df['Span'].str.split(pat='-').str[0]

In [ ]:
df['Final_Year'] = df['Span'].str.split(pat='-').str[1]

In [ ]:
df

,Player,Span,matches,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),1928-1948,52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7,626+,6,1928,1948
1,PHKD Mendis (SL),2022-2025,14.0,24.0,3.0,1316.0,182*,62.66,2063,63.79,5.0,5.0,-,137,24,2022,2025
2,AC Voges (AUS),2015-2016,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2,186,5,2015,2016
4,GA Headley (WI),1930-1954,22.0,40.0,4.0,2190.0,270*,60.83,416+,56.00,10.0,5.0,2,104+,1,1930,1954
5,H Sutcliffe (ENG),1924-1935,54.0,84.0,9.0,4555.0,194,60.73,6558+,34.59,16.0,23.0,2,202+,6,1924,1935
6,E Paynter (ENG),1931-1939,20.0,31.0,5.0,1540.0,243,59.23,1288+,45.88,4.0,7.0,3,125+,4,1931,1939
7,KF Barrington (ENG),1955-1968,82.0,131.0,15.0,6806.0,256,58.67,4957+,42.42,20.0,35.0,5,591+,27,1955,1968
8,ED Weekes (WI),1948-1958,48.0,81.0,5.0,4455.0,207,58.61,0,0.00,15.0,19.0,6,258+,2,1948,1958
9,WR Hammond (ENG),1927-1947,85.0,140.0,16.0,7249.0,336*,58.45,7491+,38.07,22.0,24.0,4,419+,27,1927,1947
10,GS Sobers (WI),1954-1974,93.0,160.0,21.0,8032.0,365*,57.78,4063+,53.58,26.0,30.0,12,593+,32,1954,1974
11,HC Brook (ENG),2022-2025,30.0,50.0,1.0,2820.0,317,57.55,3222,87.52,10.0,13.0,3,308,47,2022,2025
13,JB Hobbs (ENG),1908-1930,61.0,102.0,7.0,5410.0,211,56.94,5363+,46.22,15.0,28.0,4,276+,8,1908,1930
15,L Hutton (ENG),1937-1955,79.0,138.0,15.0,6971.0,364,56.67,2844+,39.34,19.0,33.0,5,358+,7,1937,1955
16,SPD Smith (AUS),2010-2025,119.0,212.0,25.0,10477.0,239,56.02,19517,53.68,36.0,43.0,11,1143,62,2010,2025
17,JH Kallis (ICC/SA),1995-2013,166.0,280.0,40.0,13289.0,224,55.37,28903,45.97,45.0,58.0,16,1488,97,1995,2013
18,GE Tyldesley (ENG),1921-1929,14.0,20.0,2.0,990.0,122,55.00,178+,29.21,3.0,6.0,2,37+,2,1921,1929
19,KS Williamson (NZ),2010-2024,105.0,186.0,17.0,9276.0,251,54.88,17913,51.78,33.0,37.0,11,1031,27,2010,2024
20,CA Davis (WI),1968-1973,15.0,29.0,5.0,1301.0,183,54.20,665+,35.48,4.0,4.0,1,65+,1,1968,1973
21,VG Kambli (IND),1993-1995,17.0,21.0,1.0,1084.0,227,54.20,1823,59.46,4.0,3.0,3,124,6,1993,1995
22,GS Chappell (AUS),1970-1984,87.0,151.0,19.0,7110.0,247*,53.86,13079+,51.53,24.0,31.0,12,755,16,1970,1984
23,AD Nourse (SA),1935-1951,34.0,62.0,7.0,2960.0,231,53.81,108+,63.88,9.0,14.0,3,115+,6,1935,1951
24,SR Tendulkar (IND),1989-2013,200.0,329.0,33.0,15921.0,248*,53.78,29437+,54.04,51.0,68.0,14,2058+,69,1989,2013
25,BC Lara (ICC/WI),1990-2006,131.0,232.0,6.0,11953.0,400*,52.88,19753,60.51,34.0,48.0,17,1559,88,1990,2006
26,Javed Miandad (PAK),1976-1993,124.0,189.0,21.0,8832.0,280*,52.57,15164+,45.99,23.0,43.0,6,788+,48,1976,1993
27,R Dravid (ICC/IND),1996-2012,164.0,286.0,32.0,13288.0,270,52.31,31258,42.51,36.0,63.0,8,1654,21,1996,2012
28,Mohammad Yousuf (PAK),1998-2010,90.0,156.0,12.0,7530.0,223,52.29,14372,52.39,24.0,33.0,11,957,51,1998,2010
29,Younis Khan (PAK),2000-2017,118.0,213.0,19.0,10099.0,313,52.05,19375,52.12,34.0,33.0,19,1082,70,2000,2017
30,RT Ponting (AUS),1995-2012,168.0,287.0,29.0,13378.0,257,51.85,22782,58.72,41.0,62.0,17,1509,73,1995,2012
31,J Ryder (AUS),1920-1929,20.0,32.0,5.0,1394.0,201*,51.62,2035+,44.86,3.0,9.0,1,102+,3,1920,1929
32,A Flower (ZIM),1992-2002,63.0,112.0,19.0,4794.0,232*,51.54,10636,45.07,12.0,27.0,5,543,20,1992,2002
33,MEK Hussey (AUS),2005-2013,79.0,137.0,16.0,6235.0,195,51.52,12436,50.13,19.0,29.0,12,685,39,2005,2013
34,S Chanderpaul (WI),1994-2015,164.0,280.0,49.0,11867.0,203*,51.37,27395,43.31,30.0,66.0,15,1285,36,1994,2015
35,JE Root (ENG),2012-2025,158.0,288.0,24.0,13543.0,262,51.29,23556,57.49,39.0,66.0,13,1451,45,2012,2025
36,SM Gavaskar (IND),1971-1987,125.0,214.0,16.0,10122.0,236*,51.12,14184+,43.35,34.0,45.0,12,908+,26,1971,1987
37,SR Waugh (AUS),1985-2004,168.0,260.0,46.0,10927.0,200,51.06,22461,48.64,32.0,50.0,22,1175,20,1985,2004
38,ML Hayden (AUS),1994-2009,103.0,184.0,14.0,8625.0,380,50.73,14349,60.10,30.0,29.0,14,1049,82,1994,2009
39,AB de Villiers (SA),2004-2018,114.0,191.0,18.0,8765.0,278*,50.66,16077,54.51,22.0,46.0,8,1024,64,2004,2018
40,AR Border (AUS),1978-1994,156.0,265.0,44.0,11174.0,205,50.56,27002+,41.09,27.0,63.0,11,1161,28,1978,1994
41,Saud Shakeel (PAK),2022-2025,19.0,36.0,3.0,1658.0,208*,50.24,3345,49.56,4.0,9.0,2,165,2,2022,2025
42,IVA Richards (WI),1974-1991,121.0,182.0,12.0,8540.0,291,50.23,9613+,69.77,24.0,45.0,10,952+,84,1974,1991
43,YBK Jaiswal (IND),2023-2025,24.0,46.0,2.0,2209.0,214*,50.20,3336,66.21,6.0,12.0,5,270,43,2023,2025
44,DCS Compton (ENG),1937-1957,78.0,131.0,15.0,5807.0,278,50.06,2731+,38.81,17.0,28.0,10,342+,3,1937,1957
45,DPMD Jayawardene (SL),1997-2014,149.0,252.0,15.0,11814.0,374,49.84,22959,51.45,34.0,50.0,15,1387,61,1997,2014
46,Inzamam-ul-Haq (ICC/PAK),1992-2007,120.0,200.0,22.0,8830.0,329,49.60,16345,54.02,25.0,46.0,15,1105,48,1992,2007
47,FMM Worrell (WI),1948-1963,51.0,87.0,9.0,3860.0,261,49.48,488+,40.16,9.0,22.0,11,240+,11,1948,1963
48,CP Mead (ENG),1911-1928,17.0,26.0,2.0,1185.0,182*,49.37,619+,30.04,4.0,3.0,3,38+,0,1911,1928
49,V Sehwag (ICC/IND),2001-2013,104.0,180.0,6.0,8586.0,319,49.34,10441,82.23,23.0,32.0,16,1233,91,2001,2013
50,Abid Ali (PAK),2019-2021,16.0,26.0,2.0,1180.0,215*,49.16,2445,48.26,4.0,3.0,2,148,5,2019,2021
51,MJ Clarke (AUS),2004-2015,115.0,198.0,22.0,8643.0,329*,49.10,15456,55.92,28.0,27.0,9,978,39,2004,2015
52,KC Bland (SA),1961-1966,21.0,39.0,5.0,1669.0,144*,49.08,885+,37.74,3.0,9.0,2,123+,20,1961,1966
53,B Mitchell (SA),1929-1949,42.0,80.0,9.0,3471.0,189*,48.88,158+,29.11,8.0,21.0,3,41+,1,1929,1949
54,JL Smith (ENG),2024-2025,15.0,25.0,3.0,1075.0,184*,48.86,1429,75.22,2.0,6.0,-,111,26,2024,2025
55,Hon.FS Jackson (ENG),1893-1905,20.0,33.0,4.0,1415.0,144*,48.79,0,0.00,5.0,6.0,3,51+,0,1893,1905
57,RN Harvey (AUS),1948-1963,79.0,137.0,10.0,6149.0,205,48.41,1799+,43.74,21.0,24.0,7,427+,1,1948,1963
58,KD Walters (AUS),1965-1981,74.0,125.0,14.0,5357.0,250,48.26,8662+,49.16,15.0,33.0,4,525+,23,1965,1981
59,GC Smith (ICC/SA),2002-2014,117.0,205.0,13.0,9265.0,277,48.25,15525,59.67,27.0,38.0,11,1165,24,2002,2014
60,WH Ponsford (AUS),1924-1934,29.0,48.0,4.0,2122.0,266,48.22,3118+,44.77,7.0,6.0,1,119+,0,1924,1934
61,SJ McCabe (AUS),1930-1938,39.0,62.0,5.0,2748.0,232,48.21,3217+,60.02,6.0,13.0,4,241+,5+,1930,1938
62,DR Jardine (ENG),1928-1934,22.0,33.0,6.0,1296.0,127,48.00,2110+,25.59,1.0,10.0,2,53+,0,1928,1934
63,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#drop span columns
df = df.drop(['Span'],axis=1)

In [ ]:
df.head()

,Player,matches,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7,626+,6,1928,1948
1,PHKD Mendis (SL),14.0,24.0,3.0,1316.0,182*,62.66,2063,63.79,5.0,5.0,-,137,24,2022,2025
2,AC Voges (AUS),20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2,186,5,2015,2016
4,GA Headley (WI),22.0,40.0,4.0,2190.0,270*,60.83,416+,56.00,10.0,5.0,2,104+,1,1930,1954
5,H Sutcliffe (ENG),54.0,84.0,9.0,4555.0,194,60.73,6558+,34.59,16.0,23.0,2,202+,6,1924,1935

In [ ]:
#Question split up the country from the player

df['country'] =df['Player'].str.split(pat='(').str[1]

In [ ]:
df['country'] = df['country'].str.split(pat=')').str[0]

In [ ]:
df['country']

0         AUS
1          SL
2         AUS
4          WI
5         ENG
6         ENG
7         ENG
8          WI
9         ENG
10         WI
11        ENG
13        ENG
15        ENG
16        AUS
17     ICC/SA
18        ENG
19         NZ
20         WI
21        IND
22        AUS
23         SA
24        IND
25     ICC/WI
26        PAK
27    ICC/IND
28        PAK
29        PAK
30        AUS
31        AUS
32        ZIM
33        AUS
34         WI
35        ENG
36        IND
37        AUS
38        AUS
39         SA
40        AUS
41        PAK
42         WI
43        IND
44        ENG
45         SL
46    ICC/PAK
47         WI
48        ENG
49    ICC/IND
50        PAK
51        AUS
52         SA
53         SA
54        ENG
55        ENG
57        AUS
58        AUS
59     ICC/SA
60        AUS
61        AUS
62        ENG
63        NaN
Name: country, dtype: object

In [ ]:
df['Player'] = df['Player'].str.split(pat='(').str[0]

In [ ]:
df.head()

,Player,matches,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s,Rookie_Year,Final_Year,country
0,DG Bradman,52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7,626+,6,1928,1948,AUS
1,PHKD Mendis,14.0,24.0,3.0,1316.0,182*,62.66,2063,63.79,5.0,5.0,-,137,24,2022,2025,SL
2,AC Voges,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2,186,5,2015,2016,AUS
4,GA Headley,22.0,40.0,4.0,2190.0,270*,60.83,416+,56.00,10.0,5.0,2,104+,1,1930,1954,WI
5,H Sutcliffe,54.0,84.0,9.0,4555.0,194,60.73,6558+,34.59,16.0,23.0,2,202+,6,1924,1935,ENG

In [ ]:
#change DataTypes
df.dtypes

Player                  object
matches                float64
Inns                   float64
not_outs               float64
Runs                   float64
highest_inns_score      object
Ave                    float64
balls_faced             object
batting_strike_rate    float64
100                    float64
50                     float64
0                       object
4s                      object
6s                      object
Rookie_Year             object
Final_Year              object
country                 object
dtype: object

In [ ]:
df['highest_inns_score'].str.split(pat='*').str[0]

0     334
1     182
2     269
4     270
5     194
6     243
7     256
8     207
9     336
10    365
11    317
13    211
15    364
16    239
17    224
18    122
19    251
20    183
21    227
22    247
23    231
24    248
25    400
26    280
27    270
28    223
29    313
30    257
31    201
32    232
33    195
34    203
35    262
36    236
37    200
38    380
39    278
40    205
41    208
42    291
43    214
44    278
45    374
46    329
47    261
48    182
49    319
50    215
51    329
52    144
53    189
54    184
55    144
57    205
58    250
59    277
60    266
61    232
62    127
63    NaN
Name: highest_inns_score, dtype: object

In [ ]:
df['highest_inns_score'] = df['highest_inns_score'].str.split(pat='*').str[0]

In [ ]:
df['highest_inns_score'] = df['highest_inns_score'].fillna(0).astype('int')

In [ ]:
df['highest_inns_score'] = df['highest_inns_score'].astype('int')

In [ ]:
df.dtypes

Player                  object
matches                float64
Inns                   float64
not_outs               float64
Runs                   float64
highest_inns_score       int64
Ave                    float64
balls_faced             object
batting_strike_rate    float64
100                    float64
50                     float64
0                       object
4s                      object
6s                      object
Rookie_Year              int64
Final_Year               int64
country                 object
dtype: object

In [ ]:
# Question see if you can fix Rookie year and final year
df = df.astype({'Rookie_Year' :'int' , 'Final_Year':'int'})

In [ ]:
df.dtypes

Player                  object
matches                float64
Inns                   float64
not_outs               float64
Runs                   float64
highest_inns_score       int64
Ave                    float64
balls_faced             object
batting_strike_rate    float64
100                    float64
50                     float64
0                       object
4s                      object
6s                      object
Rookie_Year              int64
Final_Year               int64
country                 object
dtype: object

In [ ]:
# Convert all elements to a string data type first
df['matches'] = df['matches'].astype(str)
df['matches'] = df['matches'].str.split(pat='*').str[0]
df['matches'] = df['matches'].astype(float)
df['matches'] = df['matches'].astype(int)

In [ ]:
df['matches']

0      52
1      14
2      20
4      22
5      54
6      20
7      82
8      48
9      85
10     93
11     30
13     61
15     79
16    119
17    166
18     14
19    105
20     15
21     17
22     87
23     34
24    200
25    131
26    124
27    164
28     90
29    118
30    168
31     20
32     63
33     79
34    164
35    158
36    125
37    168
38    103
39    114
40    156
41     19
42    121
43     24
44     78
45    149
46    120
47     51
48     17
49    104
50     16
51    115
52     21
53     42
54     15
55     20
57     79
58     74
59    117
60     29
61     39
62     22
63      0
Name: matches, dtype: int64

In [ ]:
df['balls_faced'] = df['balls_faced'].astype(str)
df['balls_faced'] = df['balls_faced'].str.split(pat='+').str[0]
df['balls_faced'] = df['balls_faced'].fillna(0).astype('int')

In [ ]:
df.dtypes

Player                  object
matches                  int64
Inns                   float64
not_outs               float64
Runs                   float64
highest_inns_score       int64
Ave                    float64
balls_faced              int64
batting_strike_rate    float64
100                    float64
50                     float64
0                       object
4s                      object
6s                      object
Rookie_Year              int64
Final_Year               int64
country                 object
Matches                 object
dtype: object

In [ ]:
df['balls_faced'] = df['balls_faced'].astype(str)
df.dtypes

Player                  object
matches                  int64
Inns                   float64
not_outs               float64
Runs                   float64
highest_inns_score       int64
Ave                    float64
balls_faced             object
batting_strike_rate    float64
100                    float64
50                     float64
0                       object
4s                      object
6s                      object
Rookie_Year              int64
Final_Year               int64
country                 object
Matches                 object
dtype: object

In [ ]:
#Question build out career_length column
#hint convert rookie/final year and subtract
df['career_length'] = df['Final_Year'] - df['Rookie_Year']

In [ ]:
df

,Player,matches,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,4s,6s,Rookie_Year,Final_Year,country,Matches,career_length
0,DG Bradman,52,80.0,10.0,6996.0,334,99.94,9800,58.60,29.0,13.0,7,626+,6,1928,1948,AUS,52.0,20
1,PHKD Mendis,14,24.0,3.0,1316.0,182,62.66,2063,63.79,5.0,5.0,-,137,24,2022,2025,SL,14.0,3
2,AC Voges,20,31.0,7.0,1485.0,269,61.87,2667,55.68,5.0,4.0,2,186,5,2015,2016,AUS,20.0,1
4,GA Headley,22,40.0,4.0,2190.0,270,60.83,416,56.00,10.0,5.0,2,104+,1,1930,1954,WI,22.0,24
5,H Sutcliffe,54,84.0,9.0,4555.0,194,60.73,6558,34.59,16.0,23.0,2,202+,6,1924,1935,ENG,54.0,11
6,E Paynter,20,31.0,5.0,1540.0,243,59.23,1288,45.88,4.0,7.0,3,125+,4,1931,1939,ENG,20.0,8
7,KF Barrington,82,131.0,15.0,6806.0,256,58.67,4957,42.42,20.0,35.0,5,591+,27,1955,1968,ENG,82.0,13
8,ED Weekes,48,81.0,5.0,4455.0,207,58.61,0,0.00,15.0,19.0,6,258+,2,1948,1958,WI,48.0,10
9,WR Hammond,85,140.0,16.0,7249.0,336,58.45,7491,38.07,22.0,24.0,4,419+,27,1927,1947,ENG,85.0,20
10,GS Sobers,93,160.0,21.0,8032.0,365,57.78,4063,53.58,26.0,30.0,12,593+,32,1954,1974,WI,93.0,20
11,HC Brook,30,50.0,1.0,2820.0,317,57.55,3222,87.52,10.0,13.0,3,308,47,2022,2025,ENG,30.0,3
13,JB Hobbs,61,102.0,7.0,5410.0,211,56.94,5363,46.22,15.0,28.0,4,276+,8,1908,1930,ENG,61.0,22
15,L Hutton,79,138.0,15.0,6971.0,364,56.67,2844,39.34,19.0,33.0,5,358+,7,1937,1955,ENG,79.0,18
16,SPD Smith,119,212.0,25.0,10477.0,239,56.02,19517,53.68,36.0,43.0,11,1143,62,2010,2025,AUS,119.0,15
17,JH Kallis,166,280.0,40.0,13289.0,224,55.37,28903,45.97,45.0,58.0,16,1488,97,1995,2013,ICC/SA,166.0,18
18,GE Tyldesley,14,20.0,2.0,990.0,122,55.00,178,29.21,3.0,6.0,2,37+,2,1921,1929,ENG,14.0,8
19,KS Williamson,105,186.0,17.0,9276.0,251,54.88,17913,51.78,33.0,37.0,11,1031,27,2010,2024,NZ,105.0,14
20,CA Davis,15,29.0,5.0,1301.0,183,54.20,665,35.48,4.0,4.0,1,65+,1,1968,1973,WI,15.0,5
21,VG Kambli,17,21.0,1.0,1084.0,227,54.20,1823,59.46,4.0,3.0,3,124,6,1993,1995,IND,17.0,2
22,GS Chappell,87,151.0,19.0,7110.0,247,53.86,13079,51.53,24.0,31.0,12,755,16,1970,1984,AUS,87.0,14
23,AD Nourse,34,62.0,7.0,2960.0,231,53.81,108,63.88,9.0,14.0,3,115+,6,1935,1951,SA,34.0,16
24,SR Tendulkar,200,329.0,33.0,15921.0,248,53.78,29437,54.04,51.0,68.0,14,2058+,69,1989,2013,IND,200.0,24
25,BC Lara,131,232.0,6.0,11953.0,400,52.88,19753,60.51,34.0,48.0,17,1559,88,1990,2006,ICC/WI,131.0,16
26,Javed Miandad,124,189.0,21.0,8832.0,280,52.57,15164,45.99,23.0,43.0,6,788+,48,1976,1993,PAK,124.0,17
27,R Dravid,164,286.0,32.0,13288.0,270,52.31,31258,42.51,36.0,63.0,8,1654,21,1996,2012,ICC/IND,164.0,16
28,Mohammad Yousuf,90,156.0,12.0,7530.0,223,52.29,14372,52.39,24.0,33.0,11,957,51,1998,2010,PAK,90.0,12
29,Younis Khan,118,213.0,19.0,10099.0,313,52.05,19375,52.12,34.0,33.0,19,1082,70,2000,2017,PAK,118.0,17
30,RT Ponting,168,287.0,29.0,13378.0,257,51.85,22782,58.72,41.0,62.0,17,1509,73,1995,2012,AUS,168.0,17
31,J Ryder,20,32.0,5.0,1394.0,201,51.62,2035,44.86,3.0,9.0,1,102+,3,1920,1929,AUS,20.0,9
32,A Flower,63,112.0,19.0,4794.0,232,51.54,10636,45.07,12.0,27.0,5,543,20,1992,2002,ZIM,63.0,10
33,MEK Hussey,79,137.0,16.0,6235.0,195,51.52,12436,50.13,19.0,29.0,12,685,39,2005,2013,AUS,79.0,8
34,S Chanderpaul,164,280.0,49.0,11867.0,203,51.37,27395,43.31,30.0,66.0,15,1285,36,1994,2015,WI,164.0,21
35,JE Root,158,288.0,24.0,13543.0,262,51.29,23556,57.49,39.0,66.0,13,1451,45,2012,2025,ENG,158.0,13
36,SM Gavaskar,125,214.0,16.0,10122.0,236,51.12,14184,43.35,34.0,45.0,12,908+,26,1971,1987,IND,125.0,16
37,SR Waugh,168,260.0,46.0,10927.0,200,51.06,22461,48.64,32.0,50.0,22,1175,20,1985,2004,AUS,168.0,19
38,ML Hayden,103,184.0,14.0,8625.0,380,50.73,14349,60.10,30.0,29.0,14,1049,82,1994,2009,AUS,103.0,15
39,AB de Villiers,114,191.0,18.0,8765.0,278,50.66,16077,54.51,22.0,46.0,8,1024,64,2004,2018,SA,114.0,14
40,AR Border,156,265.0,44.0,11174.0,205,50.56,27002,41.09,27.0,63.0,11,1161,28,1978,1994,AUS,156.0,16
41,Saud Shakeel,19,36.0,3.0,1658.0,208,50.24,3345,49.56,4.0,9.0,2,165,2,2022,2025,PAK,19.0,3
42,IVA Richards,121,182.0,12.0,8540.0,291,50.23,9613,69.77,24.0,45.0,10,952+,84,1974,1991,WI,121.0,17
43,YBK Jaiswal,24,46.0,2.0,2209.0,214,50.20,3336,66.21,6.0,12.0,5,270,43,2023,2025,IND,24.0,2
44,DCS Compton,78,131.0,15.0,5807.0,278,50.06,2731,38.81,17.0,28.0,10,342+,3,1937,1957,ENG,78.0,20
45,DPMD Jayawardene,149,252.0,15.0,11814.0,374,49.84,22959,51.45,34.0,50.0,15,1387,61,1997,2014,SL,149.0,17
46,Inzamam-ul-Haq,120,200.0,22.0,8830.0,329,49.60,16345,54.02,25.0,46.0,15,1105,48,1992,2007,ICC/PAK,120.0,15
47,FMM Worrell,51,87.0,9.0,3860.0,261,49.48,488,40.16,9.0,22.0,11,240+,11,1948,1963,WI,51.0,15
48,CP Mead,17,26.0,2.0,1185.0,182,49.37,619,30.04,4.0,3.0,3,38+,0,1911,1928,ENG,17.0,17
49,V Sehwag,104,180.0,6.0,8586.0,319,49.34,10441,82.23,23.0,32.0,16,1233,91,2001,2013,ICC/IND,104.0,12
50,Abid Ali,16,26.0,2.0,1180.0,215,49.16,2445,48.26,4.0,3.0,2,148,5,2019,2021,PAK,16.0,2
51,MJ Clarke,115,198.0,22.0,8643.0,329,49.10,15456,55.92,28.0,27.0,9,978,39,2004,2015,AUS,115.0,11
52,KC Bland,21,39.0,5.0,1669.0,144,49.08,885,37.74,3.0,9.0,2,123+,20,1961,1966,SA,21.0,5
53,B Mitchell,42,80.0,9.0,3471.0,189,48.88,158,29.11,8.0,21.0,3,41+,1,1929,1949,SA,42.0,20
54,JL Smith,15,25.0,3.0,1075.0,184,48.86,1429,75.22,2.0,6.0,-,111,26,2024,2025,ENG,15.0,1
55,Hon.FS Jackson,20,33.0,4.0,1415.0,144,48.79,0,0.00,5.0,6.0,3,51+,0,1893,1905,ENG,20.0,12
57,RN Harvey,79,137.0,10.0,6149.0,205,48.41,1799,43.74,21.0,24.0,7,427+,1,1948,1963,AUS,79.0,15
58,KD Walters,74,125.0,14.0,5357.0,250,48.26,8662,49.16,15.0,33.0,4,525+,23,1965,1981,AUS,74.0,16
59,GC Smith,117,205.0,13.0,9265.0,277,48.25,15525,59.67,27.0,38.0,11,1165,24,2002,2014,ICC/SA,117.0,12
60,WH Ponsford,29,48.0,4.0,2122.0,266,48.22,3118,44.77,7.0,6.0,1,119+,0,1924,1934,AUS,29.0,10
61,SJ McCabe,39,62.0,5.0,2748.0,232,48.21,3217,60.02,6.0,13.0,4,241+,5+,1930,1938,AUS,39.0,8
62,DR Jardine,22,33.0,6.0,1296.0,127,48.00,2110,25.59,1.0,10.0,2,53+,0,1928,1934,ENG,22.0,6
63,0,0,0.0,0.0,0.0,0,0.00,0,0.00,0.0,0.0,0,0,0,0,0,0,0.0,0

In [ ]:
#calcutations with the dataframe

In [ ]:
#Q1: cricketers in this DF what is the Average Career Length

In [ ]:
df['career_length'].mean()

np.float64(12.683333333333334)

In [ ]:
#Q2: AVG batting_strike_rate for cricketers who played over 10 years

In [ ]:
df[df['career_length'] > 10]['batting_strike_rate'].mean()

np.float64(48.86275)

In [ ]:
#Q3:find number of cricketers who played before 1960

In [ ]:
df[df['Rookie_Year'] < 1960]['Player'].count()

np.int64(23)

In [ ]:
#Q4: Max Highest inns score by country

In [ ]:
df.groupby('country')['highest_inns_score'].max().to_frame('Highinncountry').reset_index().sort_values('Highinncountry', ascending=False)

    country  Highinncountry
6    ICC/WI             400
1       AUS             380
11       SL             374
12       WI             365
2       ENG             364
4   ICC/PAK             329
3   ICC/IND             319
9       PAK             313
10       SA             278
5    ICC/SA             277
8        NZ             251
7       IND             248
13      ZIM             232
0         0               0

In [ ]:
#Q5: Hundreds,fifties,ducks (0) AVG by country
df[['100','50','0']] = df[['100','50','0']].fillna(0)
df.groupby('country')[['100','50','0']].mean()

               100         50          0
country
0         0.000000   0.000000   0.000000
AUS      21.533333  29.066667   8.933333
ENG      12.642857  20.571429   4.214286
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      23.750000  32.000000   8.500000
NZ       33.000000  37.000000  11.000000
PAK      17.800000  24.200000   8.000000
SA       10.500000  22.500000   4.000000
SL       19.500000  27.500000   7.500000
WI       16.857143  27.285714   8.142857
ZIM      12.000000  27.000000   5.000000